body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
  background: url("https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?q=80&fm=jpg&s=b260e966a8a8dd12e21c78105466e1ed");
  background-size: cover;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.1em;
  clear: both;
}

h2 {
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

#intro {
  clear: both;
  text-align: center;
  color: #fff;
  padding: 1em 0em 1em 0em;
  background: #222;
  line-height: 150%;
}

#services {
  clear: both;
  margin-top: 14em;
  background: #A8A8A8;
  padding-top: 1.2em;
}

.link {
  color: black;
  text-decoration: none; 
  background-color: none;
  }

#project_image {
  font-size: 1.8em;
  width: 48%;
  padding: 1%;
  float: left;
}

#project {
  font-size: 1em;
  width: 48%;
  padding: 1%;
  float: right;
  line-height: 150%;
}

section {
  display: inline-block;
  background: #222;
  color: #fff;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

 nav {
  font-size:1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
 }

 nav a {
  text-decoration: none;
  color: #000000;
  margin: 1.8em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
  text-align: center;
  float: left;
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
}

