@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #fff;
	background-color: #000;
}
section#splash {
	<img src="guy_dog_laptop" alt="guy with a dog and laptop">
	<text-align: center; 
}
section#about {
	background-color: blue;
}
h1 {
	font-size: 30px;
	line-height: 1.5em;
	margin: 2em;
	font-family: 'Droid Serif', sans-serif;
}
h2 {
	font-size: 25px;
	line-height: 1.5em;
	margin: 2em;
	font-family: Roboto, sans-serif;
}
p {
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
	font-style: italic;
	font-family: Roboto, sans-serif;
}
li {
    float: center;
}
a {
    display: block;
    width: 60px;
    color: #fff;
}
hr {
	width: 400px;
}
