@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
body {
	text-align: center;
	background: url("https://images.unsplash.com/photo-1431932441182-250651654c23?q=80&fm=jpg&s=dbb6cf32be2308d75f305480c96dcff8");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-color: #000;
}
h1 {
	font-size: 30px;
	line-height: 1.5em;
	margin: 2em;
	font-family: 'Droid Serif', sans-serif;
}
h2 {
	font-size: 25px;
	line-height: 1.5em;
	margin: 2em;
	font-family: Roboto, sans-serif;
}
p {
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
	font-style: italic;
	font-family: Roboto, sans-serif;
}
li {
    float: center;
}
a {
    display: block;
    width: 60px;
    color: #fff;
}
hr {
	width: 400px;
}
