body {
	text-align: center;
	background: url("https://images.unsplash.com/photo-1431932441182-250651654c23?q=80&fm=jpg&s=dbb6cf32be2308d75f305480c96dcff8");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-color: #000;
	font-family: helvetica; sans-serif;
}
hr {
	width: 400px;
}
h1 {
	font-size: 24px;
}
p {
	font-size: 22px;
	font-style: italic;
}
a {
    color: #fff;
}